.user-dash-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .user-dash-sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .user-dash-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    margin-left: 100px;
  }
  
  .user-dash-nav {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin-top: 30px;
    flex-grow: 1;
  }
  
  .user-dash-nav-item {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #444;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .user-dash-nav-item:hover {
    background-color: #555;
  }
  
  .user-dash-logout {
    margin-top: auto;
    background-color: #e74c3c;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .user-dash-logout-icon {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .user-dash-main {
    flex-grow: 1;
    padding: 30px;
  }
  
  .user-dash-content-top {
    margin-bottom: 30px;
  }
  
  .user-dash-content-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .user-dash-membership-details {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-dash-membership-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .user-dash-bmi-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-dash-bmi-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .user-dash-bmi-form-group {
    margin-bottom: 15px;
  }
  
  .user-dash-bmi-form-control {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .user-dash-bmi-form-submit {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-dash-bmi-result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
  }
  